html {
  height: 100%;
}

body {
  color: var(--p_color);
  line-height: 1.8;
  font-size: 16px;
  height: 100%;
  font-family: $rob;
  font-weight: 400;
  letter-spacing: 0.15px;

  &.topic,
  &.search,
  &.single-post,
  &.archive,
  &.bbpress,
  &.blog,
  &.woocommerce-checkout {
    background: linear-gradient(45deg, var(--gradient_bg_color1), var(--gradient_bg_color2));
  }

  .bg_color_gradient {
    background: linear-gradient(45deg, var(--gradient_bg_color1), var(--gradient_bg_color2));
  }

  background: var(--body_bg);

  .body_wrapper {
    position: relative;
    background: transparent;
    z-index: 30;
    overflow: hidden;
    min-height: 100vh;
  }
}

.no-overflow {
  overflow: visible !important;
}

/** === HTML Tags === **/
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: var(--brand_color);
  }
}

:focus {
  outline: none;
}

.h1,
h1 {
  font-size: calc(1.7rem + 1.5vw)
}

@media (min-width: 1200px) {

  .h1,
  h1 {
    font-size: 3.3rem
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  font-family: $rob;
  color: var(--black_900);
  line-height: 1.3;

  a {
    color: var(--black_900);
  }
}

a {
  color: var(--brand_color);
  transition: all .3s;

  &:not(.elementor-button-link):hover {
    text-decoration-color: var(--brand_color);
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

p {
  margin-bottom: 1.3rem;

  &:empty {
    display: none;
  }
}

figure {
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  border: none;
}

figure figcaption {
  color: var(--black_400);
  line-height: 20px;
  font-size: 14px;
}

.wp-block-image {
  figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


video {
  max-width: 100%;
}

/** === Table Styles === **/
table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: 500;
    text-align: left;
    padding-right: 10px !important
  }

  td,
  th {
    border-top: 1px solid var(--black_75);
    padding: 10px 15px;
  }

  tr td p:last-child {
    margin-bottom: 0;
  }

  &.is-style-stripes {
    tbody>tr:nth-child(2n) td {
      background: #f2f2f2;
      color: #6d7882
    }
  }
}

table,
.table_shortcode {
  thead {
    background: var(--brand_color);
    color: #fff;

    th {
      padding: 20px 25px;
      border: 0;
    }

    tr {

      th,
      .th {
        background: var(--brand_color);
        color: #fff;
      }
    }
  }

  th,
  td {
    border: 0;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
  }

  th {
    font-weight: 500;
  }

  tbody {
    tr {
      background-color: var(--black_50);
      border: none;

      th {
        background-color: var(--black_90);

        a {
          color: #fff;
        }
      }

      td,
      th {
        padding: 8px 15px;
      }

      td {
        color: var(--black_700) !important;
      }

      &:nth-child(odd) {
        background: var(--black_25) !important;
      }
    }
  }
}

.page_pad {
  padding: 100px 0;
}

/** === Predefined Global Classes === **/
.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 44px;
}

.h3 {
  font-size: 36px;
}

.h4 {
  font-size: 30px;
}

.h5 {
  font-size: 24px;
}

.h6 {
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.docy-source-code {
  position: relative;
}

button:focus {
  outline: none;
}

.bg-white {
  background-color: var(--bs-white) !important;
}

/** === Container === **/
.bbp-shortcode fieldset.bbp-form,
.blog_info .blog_body,
.main-post,
.forum-single-content .bbp-reply-form,
.search-main,
.comment_inner#comments,
.blog_comment_box {
  background: var(--bs-white) !important;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  padding: 40px 40px 45px;
  position: relative;
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--border_on_white);

  @media (max-width: 576px) {
    padding: 35px 20px !important;
  }

}

.bbp-shortcode fieldset.bbp-form {
  .bbp-email {
    margin: 10px 0;
  }
}

.wide-container {

  .page_breadcrumb .container,
  .navbar .container {
    @media (min-width: 1200px) {
      max-width: 1200px;
    }

    @media (min-width: 1300px) {
      max-width: 1240px;
    }

    @media (min-width: 1500px) {
      max-width: 1470px;
    }
  }
}


.doc_community_area .container {
  @media (min-width: 1200px) {
    max-width: 960px;
  }
}

.forum_container {
  @media (min-width: 991px) {
    max-width: 1830px;
  }
}

.sec_pad {
  padding: 120px 0;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-60 {
  padding-left: 60px;
}

.pt_100 {
  padding-top: 100px;
}

.pb_100 {
  padding-bottom: 100px;
}

.pr-60 {
  padding-right: 60px;
}

.p_125 {
  padding-top: 125px;
  padding-bottom: 125px;
}

.pt_125 {
  padding-top: 125px;
}

.pb_125 {
  padding-bottom: 125px;
}

.mt-40 {
  margin-top: 40px;
}

/** === List style === **/
ul.list-style {
  margin-bottom: 2rem;
}

ul.list-style li {
  margin-bottom: 0.5rem;
  list-style-type: circle;
}

ul.list-style li:last-child {
  margin-bottom: 0;
}

/** === Key === **/
.key,
kbd {
  line-height: 0.95rem;
  border: 1px solid #ddd;
  color: #6b707f;
}

.key,
kbd,
p .key,
p kbd {
  display: inline-block;
  min-width: 1em;
  padding: 0.5em 0.6em 0.4em;
  margin: 2px;
  font-weight: 400;
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 0.6rem;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: var(--bs-white);
  border: 1px solid var(--black_75);
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none;
}

/** ===== section title scss ====== **/
.section_title {
  margin-bottom: 56px;

  p {
    max-width: 530px;
    margin: 10px auto 0;
  }

  &.text-left {
    p {
      max-width: inherit;
    }
  }

  &.title-img {
    margin-bottom: 76px;

    .title-lg {
      font-size: 44px;
      line-height: 1.1;
      color: var(--black_800, #242729);
      margin-bottom: 30px;
      font-weight: 400;
    }

    .action_btn {
      padding: 9px 34px;
      box-shadow: none;
      border: 2px solid var(--brand_color);
      font-weight: 500;

      &:hover {
        background: transparent;
        color: var(--brand_color);
      }
    }
  }
}

.h_title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 700;
  position: relative;

  @media (max-width: 440px) {
    br {
      display: none;
    }
  }
}

.c_head {
  font-size: 24px;
  line-height: 26px;
}

/*===== section title scss ======*/
.bg_color {
  background: #fafcfd;
}

.f_bg_color {
  background: #f6fbfc;
}

.local-video-container {
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: content-box;
}

/** === Back to Top Button === **/
#back-to-top {
  display: inline-block;
  background-color: rgba(220, 220, 220, 0.8);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;

  &.left {
    left: 50px;
    right: auto;

    @media (max-width: 767px) {
      left: 20px;
    }
  }
}

#back-to-top::after {
  content: "\32";
  font-family: eleganticons;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #000;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}

#back-to-top:hover::after {
  color: #fff;
}

#back-to-top:active {
  background-color: #555;
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/*================ preloader css ====================*/
#preloader {
  background: var(--bs-white);
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .loading {
    display: flex;
  }

  .ctn-preloader {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text {
    img {
      max-width: 110px;
      margin-bottom: 10px;
      width: auto;
      height: auto;
    }
  }

  .spinner {
    animation: spinner 3s infinite linear;
    border-radius: 50%;
    border: 3px solid var(--border_on_white);
    border-left-color: var(--brand_color);
    border-top-color: var(--brand_color);
    margin: 0 auto 0em auto;
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: -40px;
    top: -40px;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border: 6px solid var(--bs-white);
      box-shadow: 0 0 20px 0 rgba(4, 46, 56, 0.2);
      background: var(--brand_color);
      position: absolute;
      right: 31px;
      top: 41px;
      border-radius: 50%;

      @media (max-width: 576px) {
        top: 18px;
      }
    }
  }

  .round_spinner {
    border-width: 1px;
    border-color: var(--border_on_white);
    border-style: solid;
    border-radius: 50%;
    background-color: var(--bs-white);
    box-shadow: 0 0 100px 0 rgba(4, 46, 56, 0.14);
    width: 248px;
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px auto 80px;

    @media (max-width: 576px) {
      width: 155px;
      height: 155px;
    }

    h4 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 0;
      color: var(--black_800, #242729);

      span {
        font-weight: 700;
      }
    }
  }
}

#preloader .head {
  color: var(--black_800, #242729);
  display: block;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 5.2px;
  text-transform: uppercase;
  text-align: center;
  font-family: $rob;
  margin: 5% 0 2% 0;
  padding: 0;
}

#preloader p {
  color: var(--black_700, #242729);
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}


.search-focused {
  .click_capture {
    opacity: 1;
    visibility: visible;
  }

  .banner_search_form {
    position: relative;
    z-index: 999 !important;
  }
}

@media (min-width: 1500px) {
  .custom_container2 {
    max-width: 1470px;
  }
}

.box_pad {
  max-width: 100%;
  padding: 0 60px;
}

.visible {
  opacity: 1 !important;
}

.badge {
  font-size: 11px;
  background: rgba(175, 184, 193, 0.2);
  color: var(--black_800);
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none !important;
  box-sizing: content-box;
  line-height: unset;

  &.badge-14 {
    font-size: 14px;
    padding: 5px 15px;
  }
}

.meta {
  color: var(--black_400);
  font-size: 14px;
  font-weight: 400;
  margin-top: 3px;
  align-items: center;

  a {
    color: var(--black_400);

    &:hover {
      color: var(--brand_color);
      text-decoration: none;
    }

    &+a {
      padding-right: 2px;
    }
  }
}

.aesthetic .right-nav .nav_btn {
  color: #fff;
}

/* Title Area css
============================================================================================ */
.main_title {
  margin-bottom: 60px;

  h2 {
    font-size: 30px;
    color: var(--black_800, #242729);
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
    margin-top: 12px;
  }
}

/** === Dot Separator === **/
.dot-sep {
  .sep {
    position: relative;

    &::before {
      content: "•";
      margin: 0 4px;
    }
  }
}

.dot {
  width: 3px;
  height: 3px;
  background-color: var(--black_400);
  border-radius: 50%;
  margin: 0 6px;
}

/** === Nice select === **/
.nice-select.custom-select {
  font-size: 14px;
  box-shadow: none;
  padding: 0 80px 0 20px;
  height: 100%;
  background-color: var(--bs-white);
  border-radius: 5px;
  border: solid 1px var(--black_50);
  color: var(--black_600);

  &:after {
    border-bottom: 2px solid #6b707f;
    border-right: 2px solid #6b707f;
    height: 8px;
    width: 8px;
    right: 28px;
    margin-top: -6px;
  }

  ul {
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    z-index: 111;

    li {
      font-size: 14px;
      color: var(--black_600);
      position: relative;
      min-height: 36px;
      line-height: 36px;

      &:before {
        content: "";
        width: 2px;
        height: 0;
        position: absolute;
        left: 0;
        background: var(--brand_color);
        transition: all 0.2s linear;
      }

      &:hover {
        color: var(--brand_color);
      }

      &.selected:not(.disabled) {
        background: #f4f9fa;
        color: var(--brand_color);
        font-weight: 500;

        &:before {
          height: 100%;
        }
      }
    }
  }
}

/** === Litespeed Lazy-load Images === **/

/* Hide ONLY while loading */
img[data-lazyloaded]:not([data-ll-status="loaded"]) {
  opacity: 0;
}

/* Fade in once fully loaded */
img.litespeed-loaded {
  opacity: 1;
  -webkit-transition: opacity .5s linear 0.2s;
  -moz-transition: opacity .5s linear 0.2s;
  transition: opacity .5s linear 0.2s;
}